<!--<manifest xmlns:android="http://schemas.android.com/apk/res/android" -->
<!--    package="com.app.stasht">-->
<!--    &lt;!&ndash; Flutter needs it to communicate with the running application-->
<!--         to allow setting breakpoints, to provide hot reload, etc.-->
<!--    &ndash;&gt;-->
<!--    <uses-permission android:name="android.permission.INTERNET"/>-->
<!--</manifest>-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
package="com.app.stasht">
<!-- Flutter needs it to communicate with the running application
     to allow setting breakpoints, to provide hot reload, etc.
-->
<uses-permission android:name="android.permission.INTERNET"/>
</manifest>
