<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>314792337497-ao49ebg5a0kd1kh9t2tc195v9l6r6vid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.314792337497-ao49ebg5a0kd1kh9t2tc195v9l6r6vid</string>
	<key>API_KEY</key>
	<string>AIzaSyB9Py95eFZsdGhN-ZxAJBbp34yK7djEhmk</string>
	<key>GCM_SENDER_ID</key>
	<string>314792337497</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.stasht2</string>
	<key>PROJECT_ID</key>
	<string>stasht-246819</string>
	<key>STORAGE_BUCKET</key>
	<string>stasht-246819.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:314792337497:ios:90f6f21beb6da7c4481148</string>
</dict>
</plist>