<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>66437154598-6hsoo53bv7qp08kc0qqdjbpfig82j2uh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66437154598-6hsoo53bv7qp08kc0qqdjbpfig82j2uh</string>
	<key>API_KEY</key>
	<string>AIzaSyD9jbZv04oon4AUbhAJCebf1GGmDZxUEUA</string>
	<key>GCM_SENDER_ID</key>
	<string>66437154598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.stasht2</string>
	<key>PROJECT_ID</key>
	<string>mvpstasht</string>
	<key>STORAGE_BUCKET</key>
	<string>mvpstasht.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66437154598:ios:8bf74d9be1a6a22cf563e7</string>
</dict>
</plist>